<configuration>
    <!-- TODO-1 콘솔 출력을 위한 Appender 정의 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 로그 메시지의 출력 형식을 정의 -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- TODO-2 파일 출력을 위한 Appender 정의 -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>system.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- TODO-3 특정 패키지에 대한 로그 레벨 설정 -->
    <logger name="org.example.greeting" level="info">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- TODO-4 Root Logger 설정 -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>